In [1]:
URI = "gs://tfl-cycle-1413//app/airflow/data/20230612.parquet"

In [2]:
import pandas as pd
df = pd.read_parquet(URI)

In [3]:
df.head(2)

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,131615942,2023-06-18 23:59,1106,"Rampayne Street, Pimlico",2023-06-19 00:03,1087,"Belgrave Road, Victoria",56222,CLASSIC,4m 16s,256371
1,131615943,2023-06-18 23:59,1204,"Queen's Gate (North), Kensington",2023-06-19 00:15,200166,"Southerton Road, Hammersmith",59682,CLASSIC,15m 23s,923968

In [1]:
from google.cloud import storage

def get_all_files_dates(bucket_name):
    storage_client = storage.Client.from_service_account_json('/home/d.bodin03/.gcp_keys/le-wagon-de-bootcamp.json')
    bucket = storage_client.get_bucket(bucket_name)

    iterator = bucket.list_blobs(prefix='bronze/')
    response = iterator._get_next_page_response()
    return [i['name'][7:15] for i in response['items']]
data = get_all_files_dates("tfl-cycle-1413")

In [2]:
keys = [d for d in get_all_files_dates("tfl-cycle-1413")]

['20150104',
 '20150118',
 '20150201',
 '20150215',
 '20150301',
 '20150316',
 '20150401',
 '20150417',
 '20150503',
 '20150517',
 '20150531',
 '20150613',
 '20150628',
 '20150712',
 '20150726',
 '20150808',
 '20150823',
 '20150906',
 '20150920',
 '20151004',
 '20151018',
 '20151101',
 '20151115',
 '20151128',
 '20151213',
 '20151225',
 '20160110',
 '20160124',
 '20160207',
 '20160221',
 '20160306',
 '20160401',
 '20160501',
 '20160518',
 '20160525',
 '20160601',
 '20160608',
 '20160615',
 '20160622',
 '20160629',
 '20160706',
 '20160713',
 '20160720',
 '20160727',
 '20160803',
 '20160810',
 '20160817',
 '20160824',
 '20160831',
 '20160907',
 '20160914',
 '20160921',
 '20160928',
 '20161005',
 '20161012',
 '20161019',
 '20161026',
 '20161102',
 '20161109',
 '20161116',
 '20161123',
 '20161130',
 '20161207',
 '20161214',
 '20161221',
 '20161228',
 '20170104',
 '20170111',
 '20170118',
 '20170125',
 '20170201',
 '20170208',
 '20170215',
 '20170222',
 '20170301',
 '20170308',
 '20170322',
 '20170329',
 '20170405',
 '20170412',
 '20170419',
 '20170426',
 '20170503',
 '20170510',
 '20170517',
 '20170524',
 '20170531',
 '20170607',
 '20170614',
 '20170621',
 '20170628',
 '20170705',
 '20170712',
 '20170719',
 '20170726',
 '20170801',
 '20170808',
 '20170815',
 '20170823',
 '20170830',
 '20170906',
 '20170913',
 '20170920',
 '20170927',
 '20171004',
 '20171011',
 '20171018',
 '20171025',
 '20171101',
 '20171108',
 '20171115',
 '20171122',
 '20171129',
 '20171206',
 '20171213',
 '20171220',
 '20171227',
 '20180103',
 '20180110',
 '20180117',
 '20180124',
 '20180131',
 '20180207',
 '20180214',
 '20180221',
 '20180228',
 '20180307',
 '20180314',
 '20180321',
 '20180328',
 '20180404',
 '20180411',
 '20180418',
 '20180425',
 '20180502',
 '20180509',
 '20180516',
 '20180523',
 '20180530',
 '20180606',
 '20180613',
 '20180620',
 '20180627',
 '20180704',
 '20180711',
 '20180718',
 '20180725',
 '20180801',
 '20180808',
 '20180815',
 '20180822',
 '20180829',
 '20180905',
 '20180912',
 '20180919',
 '20180926',
 '20181003',
 '20181010',
 '20181017',
 '20181024',
 '20181031',
 '20181107',
 '20181114',
 '20181121',
 '20181128',
 '20181205',
 '20181212',
 '20181219',
 '20181226',
 '20190102',
 '20190109',
 '20190116',
 '20190123',
 '20190130',
 '20190206',
 '20190213',
 '20190220',
 '20190227',
 '20190306',
 '20190313',
 '20190320',
 '20190327',
 '20190403',
 '20190410',
 '20190417',
 '20190424',
 '20190501',
 '20190508',
 '20190515',
 '20190522',
 '20190529',
 '20190605',
 '20190612',
 '20190619',
 '20190626',
 '20190703',
 '20190710',
 '20190717',
 '20190724',
 '20190731',
 '20190807',
 '20190814',
 '20190821',
 '20190828',
 '20190904',
 '20190911',
 '20190918',
 '20190925',
 '20191002',
 '20191009',
 '20191016',
 '20191023',
 '20191030',
 '20191106',
 '20191113',
 '20191120',
 '20191127',
 '20191204',
 '20191211',
 '20191218',
 '20191225',
 '20200101',
 '20200108',
 '20200115',
 '20200122',
 '20200129',
 '20200205',
 '20200212',
 '20200219',
 '20200226',
 '20200304',
 '20200311',
 '20200318',
 '20200325',
 '20200401',
 '20200408',
 '20200415',
 '20200422',
 '20200429',
 '20200506',
 '20200513',
 '20200520',
 '20200527',
 '20200603',
 '20200610',
 '20200617',
 '20200624',
 '20200701',
 '20200708',
 '20200715',
 '20200722',
 '20200729',
 '20200805',
 '20200812',
 '20200819',
 '20200826',
 '20200902',
 '20200909',
 '20200916',
 '20200923',
 '20200930',
 '20201007',
 '20201014',
 '20201021',
 '20201028',
 '20201104',
 '20201111',
 '20201118',
 '20201125',
 '20201202',
 '20201209',
 '20201216',
 '20201223',
 '20201230',
 '20210106',
 '20210113',
 '20210120',
 '20210127',
 '20210203',
 '20210210',
 '20210217',
 '20210224',
 '20210303',
 '20210310',
 '20210317',
 '20210324',
 '20210331',
 '20210407',
 '20210414',
 '20210421',
 '20210428',
 '20210505',
 '20210512',
 '20210519',
 '20210526',
 '20210602',
 '20210609',
 '20210616',
 '20210623',
 '20210630',
 '20210707',
 '20210714',
 '20210721',
 '20210728',
 '20210804',
 '20210811',
 '20210818',
 '20210825',
 '20210901',
 '20210908',
 '20210915',
 '20210922',
 '20210929',
 '20211006',
 '20211013',
 '20211020',
 '20211027',
 '20211103',
 '20211110',
 '20211117',
 '20211124',
 '20211201',
 '20211208',
 '20211215',
 '20211222',
 '20211229',
 '20220105',
 '20220112',
 '20220119',
 '20220126',
 '20220202',
 '20220209',
 '20220216',
 '20220223',
 '20220302',
 '20220309',
 '20220316',
 '20220323',
 '20220330',
 '20220406',
 '20220413',
 '20220420',
 '20220427',
 '20220504',
 '20220511',
 '20220518',
 '20220525',
 '20220601',
 '20220608',
 '20220615',
 '20220622',
 '20220629',
 '20220706',
 '20220713',
 '20220720',
 '20220727',
 '20220803',
 '20220810',
 '20220817',
 '20220824',
 '20220831',
 '20220907',
 '20220912',
 '20220919',
 '20220926',
 '20221003',
 '20221010',
 '20221017',
 '20221024',
 '20221031',
 '20221107',
 '20221114',
 '20221121',
 '20221128',
 '20221205',
 '20221212',
 '20221219',
 '20221226',
 '20230102',
 '20230109',
 '20230116',
 '20230123',
 '20230130',
 '20230206',
 '20230213',
 '20230220',
 '20230227',
 '20230306',
 '20230313',
 '20230320',
 '20230327',
 '20230403',
 '20230410',
 '20230417',
 '20230424',
 '20230501',
 '20230508',
 '20230515',
 '20230522',
 '20230529',
 '20230605',
 '20230612']

In [21]:
!pwd

/home/d.bodin03/code/DanyBodin/tfl-cycle

In [4]:
df.columns

Index(['Number', 'Start date', 'Start station number', 'Start station',
       'End date', 'End station number', 'End station', 'Bike number',
       'Bike model', 'Total duration', 'Total duration (ms)'],
      dtype='object')

In [8]:
df['Total duration (ms)'] = df['Total duration (ms)'].map(lambda x : x*0.001)

df = df.rename(columns={"Total duration (ms)":"Total duration"})
df.head()

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration
0,131615942,2023-06-18 23:59,1106,"Rampayne Street, Pimlico",2023-06-19 00:03,1087,"Belgrave Road, Victoria",56222,CLASSIC,4m 16s,2.563710e-07
1,131615943,2023-06-18 23:59,1204,"Queen's Gate (North), Kensington",2023-06-19 00:15,200166,"Southerton Road, Hammersmith",59682,CLASSIC,15m 23s,9.239680e-07
2,131615944,2023-06-19 00:00,22179,"Exhibition Road, Knightsbridge",2023-06-19 00:13,200120,"Grant Road East, Clapham Junction",55015,CLASSIC,13m 19s,7.992960e-07
3,131615939,2023-06-18 23:58,3504,"Moor Street, Soho",2023-06-19 00:55,1150,"Queensway, Kensington Gardens",41885,CLASSIC,56m 59s,3.419163e-06
4,131615940,2023-06-18 23:58,300082,"Bridge Avenue, Hammersmith",2023-06-19 00:04,200181,"Richmond Way, Shepherd's Bush",40935,CLASSIC,5m 27s,3.270400e-07