In [22]:
URI = "gs://tfl-cycle-1413//app/airflow/data/20230612.parquet"
URI_b = "gs://tfl-cycle-1413//app/airflow/data/20220907.parquet"

In [23]:
import pandas as pd
df = pd.read_parquet(URI_b)

In [24]:
df.head(2)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,124948506,420,17902,07/09/2022 00:07,424,"Ebury Bridge, Pimlico",07/09/2022 00:00,177,"Ashley Place, Victoria"
1,124948505,900,14422,07/09/2022 00:15,469,"Lindfield Street, Poplar",07/09/2022 00:00,282,"Royal London Hospital, Whitechapel"

In [25]:
df = df.rename(columns={'Rental Id': 'Number',
                                    'Start Date': 'Start date',
                                    'End Date': 'End date',
                                    'StartStation Id':'Start station number',
                                    'StartStation Name': 'Start station',
                                    'EndStation Id': 'End station number',
                                    'EndStation Name': 'End station',
                                    'Duration': 'Total duration',
                                    'Bike Id': 'Bike number'
                                    })

In [26]:
df.head(2)

,Number,Total duration,Bike number,End date,End station number,End station,Start date,Start station number,Start station
0,124948506,420,17902,07/09/2022 00:07,424,"Ebury Bridge, Pimlico",07/09/2022 00:00,177,"Ashley Place, Victoria"
1,124948505,900,14422,07/09/2022 00:15,469,"Lindfield Street, Poplar",07/09/2022 00:00,282,"Royal London Hospital, Whitechapel"

In [27]:
df['Total duration'] = df['Total duration'].map(lambda x: x*0.001)

In [29]:
df = df.round({'Total duration': 1})
df.head(2)

,Number,Total duration,Bike number,End date,End station number,End station,Start date,Start station number,Start station
0,124948506,0.4,17902,07/09/2022 00:07,424,"Ebury Bridge, Pimlico",07/09/2022 00:00,177,"Ashley Place, Victoria"
1,124948505,0.9,14422,07/09/2022 00:15,469,"Lindfield Street, Poplar",07/09/2022 00:00,282,"Royal London Hospital, Whitechapel"

In [7]:
df["date"] = "current_date"
df.head(2)

,Number,Total duration,Bike number,End date,End station number,End station,Start date,Start station number,Start station,date
0,124948506,0.42,17902,07/09/2022 00:07,424,"Ebury Bridge, Pimlico",07/09/2022 00:00,177,"Ashley Place, Victoria",current_date
1,124948505,0.90,14422,07/09/2022 00:15,469,"Lindfield Street, Poplar",07/09/2022 00:00,282,"Royal London Hospital, Whitechapel",current_date

In [34]:
from google.cloud import storage

def get_all_files_dates(bucket_name):
    storage_client = storage.Client.from_service_account_json('/home/d.bodin03/.gcp_keys/le-wagon-de-bootcamp.json')
    bucket = storage_client.get_bucket(bucket_name)

    iterator = bucket.list_blobs(prefix='bronze/')
    response = iterator._get_next_page_response()
    return [i['name'].split("/")[-1].startwith("20150301") for i in response['items']]
data = get_all_files_dates("tfl-cycle-1413")

AttributeError: 'str' object has no attribute 'startwith'

In [61]:
import os
def get_wanted_files_dates(bucket_name:str, yyyymm:str):
    storage_client = storage.Client.from_service_account_json('/home/d.bodin03/.gcp_keys/le-wagon-de-bootcamp.json')
    bucket = storage_client.get_bucket(bucket_name)
    iterator = bucket.list_blobs(prefix='bronze/')
    response = iterator._get_next_page_response()

    get_file_names = [i['name'].split("/")[-1] for i in response['items']]
    get_dates = [i[:7] for i in get_file_names]

    file_list = []
    for f_date, f_names in zip(get_dates, get_file_names) :
        if f_date.startswith(yyyymm):
            file_list.append(f'./data/{f_names}')

    return file_list

In [78]:
l = get_wanted_files_dates("tfl-cycle-1413", "202108")

In [79]:
l

['./data/20210804.parquet',
 './data/20210811.parquet',
 './data/20210818.parquet',
 './data/20210825.parquet']

In [76]:
get_wanted_objects = [f'bronze/{f.split("/")[-1]}' for f in l]

In [77]:
get_wanted_objects

['bronze/20210804.parquet',
 'bronze/20210811.parquet',
 'bronze/20210818.parquet',
 'bronze/20210825.parquet']

In [72]:
def prepare_data(file_path:str, current_date:str):
    df = pd.read_parquet(file_path)

    if "Rental Id" in df.columns :
        df = df.rename(columns={'Rental Id': 'Number',
                                    'Start Date': 'Start date',
                                    'End Date': 'End date',
                                    'StartStation Id':'Start station number',
                                    'StartStation Name': 'Start station',
                                    'EndStation Id': 'End station number',
                                    'EndStation Name': 'End station',
                                    'Duration': 'Total duration',
                                    'Bike Id': 'Bike number'
                                    })
    else:
        df = df.drop(['Bike model','Total duration'], axis=1)
        df = df.rename(columns={"Total duration (ms)":"Total duration"})
        df['Total duration'] = df['Total duration'].map(lambda x: x*0.001)
        df = df.round({'Total duration':0})

    df["date"] = current_date

    df.to_parquet(f'./data/silver/{file_path.split("/")[-1]}')

PermissionError: [Errno 13] Permission denied: './data/silver/20210825.parquet'

In [33]:
data

['20150104.parquet',
 '20150118.parquet',
 '20150201.parquet',
 '20150215.parquet',
 '20150301.parquet',
 '20150316.parquet',
 '20150401.parquet',
 '20150417.parquet',
 '20150503.parquet',
 '20150517.parquet',
 '20150531.parquet',
 '20150613.parquet',
 '20150628.parquet',
 '20150712.parquet',
 '20150726.parquet',
 '20150808.parquet',
 '20150823.parquet',
 '20150906.parquet',
 '20150920.parquet',
 '20151004.parquet',
 '20151018.parquet',
 '20151101.parquet',
 '20151115.parquet',
 '20151128.parquet',
 '20151213.parquet',
 '20151225.parquet',
 '20160110.parquet',
 '20160124.parquet',
 '20160207.parquet',
 '20160221.parquet',
 '20160306.parquet',
 '20160401.parquet',
 '20160501.parquet',
 '20160518.parquet',
 '20160525.parquet',
 '20160601.parquet',
 '20160608.parquet',
 '20160615.parquet',
 '20160622.parquet',
 '20160629.parquet',
 '20160706.parquet',
 '20160713.parquet',
 '20160720.parquet',
 '20160727.parquet',
 '20160803.parquet',
 '20160810.parquet',
 '20160817.parquet',
 '20160824.parquet',
 '20160831.parquet',
 '20160907.parquet',
 '20160914.parquet',
 '20160921.parquet',
 '20160928.parquet',
 '20161005.parquet',
 '20161012.parquet',
 '20161019.parquet',
 '20161026.parquet',
 '20161102.parquet',
 '20161109.parquet',
 '20161116.parquet',
 '20161123.parquet',
 '20161130.parquet',
 '20161207.parquet',
 '20161214.parquet',
 '20161221.parquet',
 '20161228.parquet',
 '20170104.parquet',
 '20170111.parquet',
 '20170118.parquet',
 '20170125.parquet',
 '20170201.parquet',
 '20170208.parquet',
 '20170215.parquet',
 '20170222.parquet',
 '20170301.parquet',
 '20170308.parquet',
 '20170322.parquet',
 '20170329.parquet',
 '20170405.parquet',
 '20170412.parquet',
 '20170419.parquet',
 '20170426.parquet',
 '20170503.parquet',
 '20170510.parquet',
 '20170517.parquet',
 '20170524.parquet',
 '20170531.parquet',
 '20170607.parquet',
 '20170614.parquet',
 '20170621.parquet',
 '20170628.parquet',
 '20170705.parquet',
 '20170712.parquet',
 '20170719.parquet',
 '20170726.parquet',
 '20170801.parquet',
 '20170808.parquet',
 '20170815.parquet',
 '20170823.parquet',
 '20170830.parquet',
 '20170906.parquet',
 '20170913.parquet',
 '20170920.parquet',
 '20170927.parquet',
 '20171004.parquet',
 '20171011.parquet',
 '20171018.parquet',
 '20171025.parquet',
 '20171101.parquet',
 '20171108.parquet',
 '20171115.parquet',
 '20171122.parquet',
 '20171129.parquet',
 '20171206.parquet',
 '20171213.parquet',
 '20171220.parquet',
 '20171227.parquet',
 '20180103.parquet',
 '20180110.parquet',
 '20180117.parquet',
 '20180124.parquet',
 '20180131.parquet',
 '20180207.parquet',
 '20180214.parquet',
 '20180221.parquet',
 '20180228.parquet',
 '20180307.parquet',
 '20180314.parquet',
 '20180321.parquet',
 '20180328.parquet',
 '20180404.parquet',
 '20180411.parquet',
 '20180418.parquet',
 '20180425.parquet',
 '20180502.parquet',
 '20180509.parquet',
 '20180516.parquet',
 '20180523.parquet',
 '20180530.parquet',
 '20180606.parquet',
 '20180613.parquet',
 '20180620.parquet',
 '20180627.parquet',
 '20180704.parquet',
 '20180711.parquet',
 '20180718.parquet',
 '20180725.parquet',
 '20180801.parquet',
 '20180808.parquet',
 '20180815.parquet',
 '20180822.parquet',
 '20180829.parquet',
 '20180905.parquet',
 '20180912.parquet',
 '20180919.parquet',
 '20180926.parquet',
 '20181003.parquet',
 '20181010.parquet',
 '20181017.parquet',
 '20181024.parquet',
 '20181031.parquet',
 '20181107.parquet',
 '20181114.parquet',
 '20181121.parquet',
 '20181128.parquet',
 '20181205.parquet',
 '20181212.parquet',
 '20181219.parquet',
 '20181226.parquet',
 '20190102.parquet',
 '20190109.parquet',
 '20190116.parquet',
 '20190123.parquet',
 '20190130.parquet',
 '20190206.parquet',
 '20190213.parquet',
 '20190220.parquet',
 '20190227.parquet',
 '20190306.parquet',
 '20190313.parquet',
 '20190320.parquet',
 '20190327.parquet',
 '20190403.parquet',
 '20190410.parquet',
 '20190417.parquet',
 '20190424.parquet',
 '20190501.parquet',
 '20190508.parquet',
 '20190515.parquet',
 '20190522.parquet',
 '20190529.parquet',
 '20190605.parquet',
 '20190612.parquet',
 '20190619.parquet',
 '20190626.parquet',
 '20190703.parquet',
 '20190710.parquet',
 '20190717.parquet',
 '20190724.parquet',
 '20190731.parquet',
 '20190807.parquet',
 '20190814.parquet',
 '20190821.parquet',
 '20190828.parquet',
 '20190904.parquet',
 '20190911.parquet',
 '20190918.parquet',
 '20190925.parquet',
 '20191002.parquet',
 '20191009.parquet',
 '20191016.parquet',
 '20191023.parquet',
 '20191030.parquet',
 '20191106.parquet',
 '20191113.parquet',
 '20191120.parquet',
 '20191127.parquet',
 '20191204.parquet',
 '20191211.parquet',
 '20191218.parquet',
 '20191225.parquet',
 '20200101.parquet',
 '20200108.parquet',
 '20200115.parquet',
 '20200122.parquet',
 '20200129.parquet',
 '20200205.parquet',
 '20200212.parquet',
 '20200219.parquet',
 '20200226.parquet',
 '20200304.parquet',
 '20200311.parquet',
 '20200318.parquet',
 '20200325.parquet',
 '20200401.parquet',
 '20200408.parquet',
 '20200415.parquet',
 '20200422.parquet',
 '20200429.parquet',
 '20200506.parquet',
 '20200513.parquet',
 '20200520.parquet',
 '20200527.parquet',
 '20200603.parquet',
 '20200610.parquet',
 '20200617.parquet',
 '20200624.parquet',
 '20200701.parquet',
 '20200708.parquet',
 '20200715.parquet',
 '20200722.parquet',
 '20200729.parquet',
 '20200805.parquet',
 '20200812.parquet',
 '20200819.parquet',
 '20200826.parquet',
 '20200902.parquet',
 '20200909.parquet',
 '20200916.parquet',
 '20200923.parquet',
 '20200930.parquet',
 '20201007.parquet',
 '20201014.parquet',
 '20201021.parquet',
 '20201028.parquet',
 '20201104.parquet',
 '20201111.parquet',
 '20201118.parquet',
 '20201125.parquet',
 '20201202.parquet',
 '20201209.parquet',
 '20201216.parquet',
 '20201223.parquet',
 '20201230.parquet',
 '20210106.parquet',
 '20210113.parquet',
 '20210120.parquet',
 '20210127.parquet',
 '20210203.parquet',
 '20210210.parquet',
 '20210217.parquet',
 '20210224.parquet',
 '20210303.parquet',
 '20210310.parquet',
 '20210317.parquet',
 '20210324.parquet',
 '20210331.parquet',
 '20210407.parquet',
 '20210414.parquet',
 '20210421.parquet',
 '20210428.parquet',
 '20210505.parquet',
 '20210512.parquet',
 '20210519.parquet',
 '20210526.parquet',
 '20210602.parquet',
 '20210609.parquet',
 '20210616.parquet',
 '20210623.parquet',
 '20210630.parquet',
 '20210707.parquet',
 '20210714.parquet',
 '20210721.parquet',
 '20210728.parquet',
 '20210804.parquet',
 '20210811.parquet',
 '20210818.parquet',
 '20210825.parquet',
 '20210901.parquet',
 '20210908.parquet',
 '20210915.parquet',
 '20210922.parquet',
 '20210929.parquet',
 '20211006.parquet',
 '20211013.parquet',
 '20211020.parquet',
 '20211027.parquet',
 '20211103.parquet',
 '20211110.parquet',
 '20211117.parquet',
 '20211124.parquet',
 '20211201.parquet',
 '20211208.parquet',
 '20211215.parquet',
 '20211222.parquet',
 '20211229.parquet',
 '20220105.parquet',
 '20220112.parquet',
 '20220119.parquet',
 '20220126.parquet',
 '20220202.parquet',
 '20220209.parquet',
 '20220216.parquet',
 '20220223.parquet',
 '20220302.parquet',
 '20220309.parquet',
 '20220316.parquet',
 '20220323.parquet',
 '20220330.parquet',
 '20220406.parquet',
 '20220413.parquet',
 '20220420.parquet',
 '20220427.parquet',
 '20220504.parquet',
 '20220511.parquet',
 '20220518.parquet',
 '20220525.parquet',
 '20220601.parquet',
 '20220608.parquet',
 '20220615.parquet',
 '20220622.parquet',
 '20220629.parquet',
 '20220706.parquet',
 '20220713.parquet',
 '20220720.parquet',
 '20220727.parquet',
 '20220803.parquet',
 '20220810.parquet',
 '20220817.parquet',
 '20220824.parquet',
 '20220831.parquet',
 '20220907.parquet',
 '20220912.parquet',
 '20220919.parquet',
 '20220926.parquet',
 '20221003.parquet',
 '20221010.parquet',
 '20221017.parquet',
 '20221024.parquet',
 '20221031.parquet',
 '20221107.parquet',
 '20221114.parquet',
 '20221121.parquet',
 '20221128.parquet',
 '20221205.parquet',
 '20221212.parquet',
 '20221219.parquet',
 '20221226.parquet',
 '20230102.parquet',
 '20230109.parquet',
 '20230116.parquet',
 '20230123.parquet',
 '20230130.parquet',
 '20230206.parquet',
 '20230213.parquet',
 '20230220.parquet',
 '20230227.parquet',
 '20230306.parquet',
 '20230313.parquet',
 '20230320.parquet',
 '20230327.parquet',
 '20230403.parquet',
 '20230410.parquet',
 '20230417.parquet',
 '20230424.parquet',
 '20230501.parquet',
 '20230508.parquet',
 '20230515.parquet',
 '20230522.parquet',
 '20230529.parquet',
 '20230605.parquet',
 '20230612.parquet']

In [4]:
keys = [d for d in get_all_files_dates("tfl-cycle-1413")]
keys

['20150104',
 '20150118',
 '20150201',
 '20150215',
 '20150301',
 '20150316',
 '20150401',
 '20150417',
 '20150503',
 '20150517',
 '20150531',
 '20150613',
 '20150628',
 '20150712',
 '20150726',
 '20150808',
 '20150823',
 '20150906',
 '20150920',
 '20151004',
 '20151018',
 '20151101',
 '20151115',
 '20151128',
 '20151213',
 '20151225',
 '20160110',
 '20160124',
 '20160207',
 '20160221',
 '20160306',
 '20160401',
 '20160501',
 '20160518',
 '20160525',
 '20160601',
 '20160608',
 '20160615',
 '20160622',
 '20160629',
 '20160706',
 '20160713',
 '20160720',
 '20160727',
 '20160803',
 '20160810',
 '20160817',
 '20160824',
 '20160831',
 '20160907',
 '20160914',
 '20160921',
 '20160928',
 '20161005',
 '20161012',
 '20161019',
 '20161026',
 '20161102',
 '20161109',
 '20161116',
 '20161123',
 '20161130',
 '20161207',
 '20161214',
 '20161221',
 '20161228',
 '20170104',
 '20170111',
 '20170118',
 '20170125',
 '20170201',
 '20170208',
 '20170215',
 '20170222',
 '20170301',
 '20170308',
 '20170322',
 '20170329',
 '20170405',
 '20170412',
 '20170419',
 '20170426',
 '20170503',
 '20170510',
 '20170517',
 '20170524',
 '20170531',
 '20170607',
 '20170614',
 '20170621',
 '20170628',
 '20170705',
 '20170712',
 '20170719',
 '20170726',
 '20170801',
 '20170808',
 '20170815',
 '20170823',
 '20170830',
 '20170906',
 '20170913',
 '20170920',
 '20170927',
 '20171004',
 '20171011',
 '20171018',
 '20171025',
 '20171101',
 '20171108',
 '20171115',
 '20171122',
 '20171129',
 '20171206',
 '20171213',
 '20171220',
 '20171227',
 '20180103',
 '20180110',
 '20180117',
 '20180124',
 '20180131',
 '20180207',
 '20180214',
 '20180221',
 '20180228',
 '20180307',
 '20180314',
 '20180321',
 '20180328',
 '20180404',
 '20180411',
 '20180418',
 '20180425',
 '20180502',
 '20180509',
 '20180516',
 '20180523',
 '20180530',
 '20180606',
 '20180613',
 '20180620',
 '20180627',
 '20180704',
 '20180711',
 '20180718',
 '20180725',
 '20180801',
 '20180808',
 '20180815',
 '20180822',
 '20180829',
 '20180905',
 '20180912',
 '20180919',
 '20180926',
 '20181003',
 '20181010',
 '20181017',
 '20181024',
 '20181031',
 '20181107',
 '20181114',
 '20181121',
 '20181128',
 '20181205',
 '20181212',
 '20181219',
 '20181226',
 '20190102',
 '20190109',
 '20190116',
 '20190123',
 '20190130',
 '20190206',
 '20190213',
 '20190220',
 '20190227',
 '20190306',
 '20190313',
 '20190320',
 '20190327',
 '20190403',
 '20190410',
 '20190417',
 '20190424',
 '20190501',
 '20190508',
 '20190515',
 '20190522',
 '20190529',
 '20190605',
 '20190612',
 '20190619',
 '20190626',
 '20190703',
 '20190710',
 '20190717',
 '20190724',
 '20190731',
 '20190807',
 '20190814',
 '20190821',
 '20190828',
 '20190904',
 '20190911',
 '20190918',
 '20190925',
 '20191002',
 '20191009',
 '20191016',
 '20191023',
 '20191030',
 '20191106',
 '20191113',
 '20191120',
 '20191127',
 '20191204',
 '20191211',
 '20191218',
 '20191225',
 '20200101',
 '20200108',
 '20200115',
 '20200122',
 '20200129',
 '20200205',
 '20200212',
 '20200219',
 '20200226',
 '20200304',
 '20200311',
 '20200318',
 '20200325',
 '20200401',
 '20200408',
 '20200415',
 '20200422',
 '20200429',
 '20200506',
 '20200513',
 '20200520',
 '20200527',
 '20200603',
 '20200610',
 '20200617',
 '20200624',
 '20200701',
 '20200708',
 '20200715',
 '20200722',
 '20200729',
 '20200805',
 '20200812',
 '20200819',
 '20200826',
 '20200902',
 '20200909',
 '20200916',
 '20200923',
 '20200930',
 '20201007',
 '20201014',
 '20201021',
 '20201028',
 '20201104',
 '20201111',
 '20201118',
 '20201125',
 '20201202',
 '20201209',
 '20201216',
 '20201223',
 '20201230',
 '20210106',
 '20210113',
 '20210120',
 '20210127',
 '20210203',
 '20210210',
 '20210217',
 '20210224',
 '20210303',
 '20210310',
 '20210317',
 '20210324',
 '20210331',
 '20210407',
 '20210414',
 '20210421',
 '20210428',
 '20210505',
 '20210512',
 '20210519',
 '20210526',
 '20210602',
 '20210609',
 '20210616',
 '20210623',
 '20210630',
 '20210707',
 '20210714',
 '20210721',
 '20210728',
 '20210804',
 '20210811',
 '20210818',
 '20210825',
 '20210901',
 '20210908',
 '20210915',
 '20210922',
 '20210929',
 '20211006',
 '20211013',
 '20211020',
 '20211027',
 '20211103',
 '20211110',
 '20211117',
 '20211124',
 '20211201',
 '20211208',
 '20211215',
 '20211222',
 '20211229',
 '20220105',
 '20220112',
 '20220119',
 '20220126',
 '20220202',
 '20220209',
 '20220216',
 '20220223',
 '20220302',
 '20220309',
 '20220316',
 '20220323',
 '20220330',
 '20220406',
 '20220413',
 '20220420',
 '20220427',
 '20220504',
 '20220511',
 '20220518',
 '20220525',
 '20220601',
 '20220608',
 '20220615',
 '20220622',
 '20220629',
 '20220706',
 '20220713',
 '20220720',
 '20220727',
 '20220803',
 '20220810',
 '20220817',
 '20220824',
 '20220831',
 '20220907',
 '20220912',
 '20220919',
 '20220926',
 '20221003',
 '20221010',
 '20221017',
 '20221024',
 '20221031',
 '20221107',
 '20221114',
 '20221121',
 '20221128',
 '20221205',
 '20221212',
 '20221219',
 '20221226',
 '20230102',
 '20230109',
 '20230116',
 '20230123',
 '20230130',
 '20230206',
 '20230213',
 '20230220',
 '20230227',
 '20230306',
 '20230313',
 '20230320',
 '20230327',
 '20230403',
 '20230410',
 '20230417',
 '20230424',
 '20230501',
 '20230508',
 '20230515',
 '20230522',
 '20230529',
 '20230605',
 '20230612']

In [21]:
!pwd

/home/d.bodin03/code/DanyBodin/tfl-cycle

In [4]:
df.columns

Index(['Number', 'Start date', 'Start station number', 'Start station',
       'End date', 'End station number', 'End station', 'Bike number',
       'Bike model', 'Total duration', 'Total duration (ms)'],
      dtype='object')

In [8]:
df['Total duration (ms)'] = df['Total duration (ms)'].map(lambda x : x*0.001)

df = df.rename(columns={"Total duration (ms)":"Total duration"})
df.head()

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration
0,131615942,2023-06-18 23:59,1106,"Rampayne Street, Pimlico",2023-06-19 00:03,1087,"Belgrave Road, Victoria",56222,CLASSIC,4m 16s,2.563710e-07
1,131615943,2023-06-18 23:59,1204,"Queen's Gate (North), Kensington",2023-06-19 00:15,200166,"Southerton Road, Hammersmith",59682,CLASSIC,15m 23s,9.239680e-07
2,131615944,2023-06-19 00:00,22179,"Exhibition Road, Knightsbridge",2023-06-19 00:13,200120,"Grant Road East, Clapham Junction",55015,CLASSIC,13m 19s,7.992960e-07
3,131615939,2023-06-18 23:58,3504,"Moor Street, Soho",2023-06-19 00:55,1150,"Queensway, Kensington Gardens",41885,CLASSIC,56m 59s,3.419163e-06
4,131615940,2023-06-18 23:58,300082,"Bridge Avenue, Hammersmith",2023-06-19 00:04,200181,"Richmond Way, Shepherd's Bush",40935,CLASSIC,5m 27s,3.270400e-07